body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}

.hero-content {
    background-image: url(../videos/excursion.mp4);
}