body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
}

body a {
    color: aquamarine;
    font-size: 1rem;
}

h1 {
    font-size: 3.125rem;
    font-weight: 400;
}

h2 {
    font-size: 2.625rem;
    font-weight: 300;
}

h5 {
    font-size: 1.3125rem;
    font-weight: 400;
    color: gray;
}

section {
    padding: 20px;
}

#herovideo-section {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
